.app {
  &__blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 1400px;
    grid-row-gap: 2em;
    row-gap: 2em;
    margin: 2em auto 0 auto;
    //tablet
    @media screen and (min-width: 768px) {
      grid-template-columns: 50% 50%;
    }
    //laptop
    @media screen and (min-width: 1200px) {
      grid-template-columns: 33% 33% 33%;
    }
    //desktop
    @media screen and (min-width: 1480px) {
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
}
