@import "../../global-styles.scss";

.app {
  &__language-picker {
    margin-bottom: 2em;
    @media screen and (min-width: 1024px) {
      position: absolute;
      left: 0;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }
  &__language-picker-select {
    padding: 0.5em;
    background-color: $app-dark-gray-alt;
    color: $app-white;
    min-width: 128px;
    font-size: 1em;
    border: 0;
  }
}
