$hero-image-button-col: #0069d2;

.app {
  &__hero-image {
    background-color: #000;
    opacity: 0.79;
    height: 400px;
    transition: all 0.2s;
    //desktop view
    @media screen and (min-width: 768px) {
      height: 800px;
    }
  }
  &__hero-image-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  &__hero-image-text {
    color: #ffffff;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 1em 1em 1em;
    max-width: 1360px;
    //desktop view
    @media screen and (min-width: 768px) {
      font-size: 6em;
    }
  }
  &__hero-image-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    max-width: 392px;
    text-align: center;
    height: 56px;
    line-height: 56px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: $hero-image-button-col;
    margin: 1em 0;
    transition: background-color 0.2s;
  }
  &__hero-image-button:focus,
  &__hero-image-button:hover {
    background-color: darken($hero-image-button-col, 12.5%);
  }
}
