$hero-image-button-col: #0069d2;

.app {
  &__hero-image {
    height: 400px;
    //tablet
    @media screen and (min-width: 768px) {
      padding-top: 7.5em;
      height: 800px;
    }
  }
  &__hero-image-textbox {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    text-align: center;
    padding-top: 48px;
    @media screen and (min-width: 768px) {
      padding-top: 0;
    }
  }
  &__hero-image-text {
    animation-name: hero-image-text-fadein;
    animation-duration: 0.5s;
    color: #ffffff;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 1em 1em 1em;
    max-width: 1360px;
    //tablet
    @media screen and (min-width: 768px) {
      font-size: 4.5em;
    }
    //laptop
    @media screen and (min-width: 1024px) {
      font-size: 6em;
    }
  }
  &__hero-image-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    max-width: 240px;
    text-align: center;
    height: 56px;
    line-height: 56px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: $hero-image-button-col;
    margin: 1em 0;
    transition: background-color 0.2s;
    &:focus,
    &:hover {
      background-color: darken($hero-image-button-col, 12.5%);
    }
    //tablet
    @media screen and (min-width: 768px) {
      max-width: 392px;
    }
  }
}

@keyframes hero-image-text-fadein {
  from {
    opacity: 0;
    transform: scaleX(1.5);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
