.app {
  &__blog-grid-item {
    margin: 2em auto;
    box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
    border-radius: 4px;
    background-color: #ffffff;
  }
  &__blog-grid-item-image {
    width: 100%;
  }
}
