$header-bg-col: #fff;
$header-border-col: #d5d6d6;
$header-link-col: rgba(46, 49, 52, 0.8);

.app {
  &__header {
    z-index: 1;
    position: fixed;
    opacity: 0;
  }
  &__header--scroll {
    width: 100%;
    opacity: 1;
    transition: all 0.1s;
  }
  &__header-nav {
    height: 46px;
    background-color: $header-bg-col;
    border: 1px solid $header-border-col;
    border-top: 0;
  }
  &__header-nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__header-nav-list,
  &__header-nav-subheader-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  &__header-nav-list-item,
  &__header-nav-subheader-list-item {
    height: 100%;
  }
  &__header-nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $header-link-col;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 1em;
    text-transform: uppercase;
    border-right: 1px solid $header-border-col;
    transition: padding 0.1s;
    //tablet
    @media screen and (min-width: 768px) {
      padding: 0 3em;
    }
  }
  &__header-nav-link,
  &__header-nav-subheader-link {
    text-decoration: none;
  }
  &__header-nav-subheader {
    box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
    background-color: $header-bg-col;
  }
  &__header-nav-subheader--hidden {
    display: none;
  }
  &__header-nav-subheader-list {
    position: relative;
    flex-direction: column;
    justify-content: center;
    //laptop
    @media screen and (max-width: 1024px) and (min-width: 768px) {
      justify-content: flex-start;
    }
    //tablet
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__header-nav-subheader-list-item {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: auto;
    }
  }
  &__header-nav-subheader-link {
    color: $header-link-col;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1em 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    //tablet view
    @media screen and (min-width: 768px) {
      padding: 0 3em;
      height: 72px;
      width: auto;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__header-nav-subheader-button {
    display: block;
    text-align: center;
    box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
    background-color: #0069d2;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 3em;
    min-width: 94px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    @media screen and (min-width: 768px) {
      position: absolute;
      right: 0;
      top: 25%;
      margin-right: 1em;
      border-radius: 4px;
      min-width: 94px;
      min-height: 40px;
      width: auto;
    }
  }
}
