.app {
  &__product-grid-header {
    text-align: center;
    opacity: 0.8;
    color: #34383c;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-top: 2em;
  }
  &__product-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    max-width: 100%;
    //laptop
    @media screen and (max-width: 1200px) {
      max-width: 960px;
      flex-wrap: wrap;
      margin: 0 auto 2em auto;
    }
    //tablet
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}
