.app {
  &__footer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #2e3134;
  }
  &__footer-lists {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //tablet
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__footer-list,
  &__footer-icon-list {
    list-style: none;
  }
  &__footer-list {
    width: 120px;
    //tablet
    @media screen and (min-width: 768px) {
      width: auto;
    }
  }
  &__footer-list-link {
    color: #fff;
    text-decoration: none;
  }
  &__footer-icons {
    border-top: 2px solid #585a5d;
    border-bottom: 2px solid #585a5d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__footer-icon-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__footer-icon-list-link {
    fill: #fff;
    margin: 0 1em;
    display: block;
  }
  &__footer-subfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    //tablet
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__footer-subfooter-link,
  &__footer-subfooter-text {
    color: #fff;
    padding: 0 1em 1em 0;
    //tablet
    @media screen and (min-width: 768px) {
      padding-bottom: 0;
    }
  }
  &__footer-subfooter-link {
    text-decoration: none;
  }
}
