.app {
  &__footer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #2e3134;
  }
  &__footer-lists {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    //tablet
    @media screen and (min-width: 768px) {
      flex-direction: row;
      max-width: 1024px;
      margin: 0 auto;
    }
  }
  &__footer-list,
  &__footer-icon-list {
    list-style: none;
  }
  &__footer-list {
    padding-left: 0;
  }
  &__footer-list-item {
    padding: 0.5em;
    &:first-child {
      font-weight: bold;
    }
  }
  &__footer-list-item-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
  }
  &__footer-icons {
    padding: 1em 0;
    border-top: 2px solid #585a5d;
    border-bottom: 2px solid #585a5d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__footer-icon-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__footer-icon-list-link {
    fill: #fff;
    margin: 0 0.5em;
    width: 24px;
    height: 24px;
    padding: 0.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    transition: margin 0.1s;
    &:hover,
    &:focus {
      fill: #d5d6d6;
    }
    //mobile
    @media screen and (min-width: 440px) {
      width: 32px;
      height: 32px;
    }
    //tablet
    @media screen and (min-width: 768px) {
      margin: 0 1em;
    }
  }
  &__footer-subfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    //laptop
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
  &__footer-subfooter-link,
  &__footer-subfooter-text {
    font-size: 1.125rem;
    color: #fff;
    padding: 0 1em 1em 0;
    //laptop
    @media screen and (min-width: 1024px) {
      padding-bottom: 0;
    }
  }
  &__footer-subfooter-link {
    text-decoration: none;
  }
}
