.app {
  &__review-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f5f7;
    padding: 2em;
  }
  &__review-slider-container {
    overflow: hidden;
    max-height: 183px;
  }
  &__review-slider-container-scroller {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    background-size: 48px 48px;
    padding: 0;
    cursor: pointer;
    background-position: center;
    &--right {
      transform: rotate(180deg);
    }
  }
}
